@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next { height: 100%; }
body { 
    
    background: linear-gradient(180deg,#041226,#041724);
     color: #dbeafe; 
     font-family: Inter, system-ui, -apple-system, "Segoe UI",
      Roboto, "Helvetica Neue", Arial,
    }
